body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
}

#board {
  width: 100vw;
  height: 100vh;
  display: block;
}

.hex {
  fill: #eee;
  stroke: #999;
  stroke-width: 2;
  cursor: pointer;
}

.hex:hover {
  stroke: #333;
}

.edge {
  stroke: #666;
  stroke-width: 6;
  stroke-linecap: round;
  cursor: pointer;
}

.edge:hover {
  stroke: orange;
  stroke-width: 8;
}

.vertex {
  fill: #888;
  r: 6;
  cursor: pointer;
}

.vertex:hover {
  fill: gold;
  r: 8;
}
